.table {
    margin-left: 50px;
    margin-top: 50px;
    width: 90%;
    border: 122px #ED2553;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #ED2553;
    border: 3px solid #ED2553;
    color: white;
}

.table td {
    border: 1px solid #ED2553;
    background: #ffffff;
    padding: 5px;
    color: #ED2553;
}